<section id="execution">
    <div class="row">
        <aside class="col-12 col-md-2 p-0">
            <nav class="navbar navbar-expand navbar-light bg-light flex-md-column flex-row align-items-start">
                <div class="collapse navbar-collapse align-items-start">
                    <ul class="flex-md-column flex-row navbar-nav w-100">
                        <li class="nav-item">
                            <a class="nav-link pl-0 text-nowrap executions" href="#"><i class="fas fa-terminal"></i>
                                <span class="d-none d-md-inline font-weight-bold"> Executions </span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pl-0 text-nowrap testsets" href="#"><i class="fas fa-vials"></i> <span
                                    class="d-none d-md-inline font-weight-bold">Test Sets</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pl-0 text-nowrap variables" href="#"><b>{<i
                                        class="fas fa-times"></i>}</b> <span
                                    class="d-none d-md-inline font-weight-bold">Variables</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pl-0 text-nowrap machines" href="#"><i class="fas fa-server"></i> <span
                                    class="d-none d-md-inline font-weight-bold">Machines</span></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </aside>
        <section class="col bg-faded executionAppender" id="executionAppender"></section>
    </div>
</section>
