<section class="container-fluid testsetLoader" id="testsetLoader"><br>
    <table class="table table-bordered tables" id="tables" style="width:100%">
        <thead align="center">
            <tr align="left">
                <th colspan="2">
                    <button type="button" class="btn btn-sm btn-primary" data-toggle="modal"
                        data-target="#addTestsets"><i class="fas fa-plus-circle"></i> Add Test Sets </button>
                </th>
            </tr>
            <tr>
                <th> Test Sets </th>
                <th> Actions </th>
            </tr>
        </thead>
        <tbody id="testsetData" align="center"></tbody>
    </table>
    <div class="modal fade" id="addTestsets">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <p class="h3"> This is modal body </p>
                </div>
                <div class="modal-footer">
                    <p class="h3"> This is modal footer </p>
                </div>
            </div>
        </div>
    </div>
</section>