<section class="container-fluid variableLoader" id="variableLoader"><br>
    <table class="table table-bordered tables" id="tables" style="width:100%;">
        <thead align="center">
            <tr align="left">
                <th colspan="8">
                    <button type="button" class="btn btn-sm btn-primary" data-toggle="modal"
                        data-target="#addvariable"><i class="fas fa-plus-circle"></i> Add Variable </button>
                </th>
            </tr>
            <tr>
                <th> Execution Vars </th>
                <th>Tags</th>
                <th>Name</th>
                <th>Value</th>
                <th>Possible Values</th>
                <th rowspan="2">Actions</th>
            </tr>
        </thead>
        <tbody id="variableData" align="center"></tbody>
    </table>
    <div class="modal fade" id="addvariable">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4"> <b> <label> Execution Vars </label> </b> </div>
                        <div class="col-md-2"><input type="checkbox" class="form-control taskVars" name="taskVars"
                                id="taskVars" style="zoom:200% !important;" value="true"></div>
                    </div><br>
                    <div class="row">
                        <div class="col-md-4"> <b> <label> Tags </label> </b> </div>
                        <div class="col-md-8"><input type="text" class="form-control tags" name="tags" id="tags"></div>
                    </div><br>
                    <div class="row">
                        <div class="col-md-4"> <b> <label> Name </label> </b> </div>
                        <div class="col-md-8"><input type="text" class="form-control name" name="name" id="name"></div>
                    </div><br>
                    <div class="row">
                        <div class="col-md-4"> <b> <label> Value </label> </b> </div>
                        <div class="col-md-8">
                            <input type="text" class="form-control value" name="value" id="value" value="<NULL>">
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-md-4"> <b> <label> Possible Values </label> </b> </div>
                        <div class="col-md-8">
                            <input type="text" class="form-control possibleValues" name="possibleValues"
                                id="possibleValues">
                        </div>
                    </div><br>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <div class="container row InsertVariableDiv">
                        <div class="col-md-6" align="right">
                            <button type="button" class="btn btn-sm btn-success addVariables" id="addVariables"> Create
                            </button>
                        </div>
                        <div class="col-md-6" align="left">
                            <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal"> Close </button>
                        </div>
                    </div>
                    <div class="container row UpdateVariableDiv">
                        <div class="col-md-6" align="right">
                            <button type="button" class="btn btn-sm btn-warning updateVariables" id="updateVariables"> Update </button>
                        </div>
                        <div class="col-md-6" align="left">
                            <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal"> Close </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>